<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unionline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniOnline">
        <activity android:name=".Views.Students.StudentNewsDetailActivity"></activity>
        <activity android:name=".Views.Students.StudentTuitionActivity" />
        <activity android:name=".Views.Students.StudentNewsActivity" />
        <activity android:name=".Views.Teachers.TeacherListLessonsActivity" />
        <activity android:name=".Views.Admin.AdminMainActivity" />
        <activity android:name=".Views.Admin.AdminTeacherAccountActivity" />
        <activity android:name=".Views.Admin.AdminStudentAccountActivity" />
        <activity android:name=".Views.Admin.AdminParentAccountActivity" />
        <activity android:name=".Views.Admin.AdminQlkAccountActivity" />
        <activity android:name=".Views.Admin.AdminChangePasswordActivity" />
        <activity android:name=".Views.Admin.AdminInfoUpdateActivity" />
        <activity android:name=".Views.Admin.AdminQlkAddDelMainActivity" />
        <activity android:name=".Views.Admin.AdminParentAddEditMainActivity" />
        <activity android:name=".Views.Admin.AdminTeacherAddDelActivity" />
        <activity android:name=".Views.Admin.AdminStudentAddEditMainActivity" />
        <activity android:name=".Views.Admin.ActivityAdminMain" />
        <activity android:name=".Views.Teachers.TeacherListLessonsActivity" />

        <activity android:name=".Views.Students.StudentTuitionActivity"></activity>
        <activity android:name=".Views.Students.StudentNewsActivity" />
        <activity android:name=".Views.Teachers.TeacherListLessonsActivity" />
        <activity android:name=".Views.Admin.AdminMainActivity"></activity>
        <activity android:name=".Views.Admin.AdminTeacherAccountActivity"/>
        <activity android:name=".Views.Admin.AdminStudentAccountActivity"/>
        <activity android:name=".Views.Admin.AdminParentAccountActivity"/>
        <activity android:name=".Views.Admin.AdminQlkAccountActivity"/>
        <activity android:name=".Views.Admin.AdminChangePasswordActivity"/>
        <activity android:name=".Views.Admin.AdminInfoUpdateActivity"/>
        <activity android:name=".Views.Admin.AdminQlkAddDelMainActivity"/>
        <activity android:name=".Views.Admin.AdminParentAddEditMainActivity"/>
        <activity android:name=".Views.Admin.AdminTeacherAddDelActivity"/>
        <activity android:name=".Views.Admin.AdminStudentAddEditMainActivity"/>
        <activity android:name=".Views.Admin.ActivityAdminMain"/>
        <activity android:name=".Views.Teachers.AccountActivity"></activity>
        <activity android:name=".Views.Students.StudentAbsenceApplicationActivity" />
        <activity android:name=".Views.Teachers.TeacherAttendantUpdateActivity" />
        <activity android:name=".Views.Teachers.TeacherAttendantActivity" />
        <activity android:name=".Views.Students.StudentMarkActivity" />
        <activity android:name=".Views.Teachers.TeacherAddNotificationActivity" />
        <activity android:name=".Views.Teachers.TeacherListNotificationsActivity" />
        <activity android:name=".Views.Students.StudentClassDetailActivity" />
        <activity android:name=".Views.Students.StudentAttendanceActivity" />
        <activity android:name=".Views.Students.StudentEnrollmentActivity" />
        <activity android:name=".Views.Students.StudentScheduleActivity" />
        <activity android:name=".Views.Teachers.TeacherClassDetailActivity" />
        <activity android:name=".Views.Teachers.TeacherListClassesActivity" />
        <activity android:name=".Views.Teachers.TeacherMainActivity" />
        <activity android:name=".Views.Manager.MainActivity" />
        <activity android:name=".Views.Common.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Students.StudentMainActivity" />
    </application>

</manifest>